#container {
  height: 100vh;
  /* border: solid; */
}

/* .row {
  border: solid;
  border-color: green;

}

.col {
  border: solid;
} */

#page {
  height: 75vh;
}

#nav {
  height: 10%;
}

#todo {
  height: 90%;
}

#todo {
  background-color: beige;
  box-shadow: 10px 10px 10px #a0869c;
  border: thin #a0869c;
  border-radius: 10px;
}

#li {
  height: 40px;
  margin: 15px;
}
.btn-link {
  height: 40%;
}
.card {
  width: 175px;
  height: 175px;
  margin: 3rem;
}

#delete-btn {
  position: absolute;
  margin-top: 10rem ;
}
