<div class="container">
  <div class="row" id="page">
    <div class="col d-flex flex-column">
      <div class="row" id="nav">
        <div class="col d-flex justify-content-center">
          <ul class="nav" id="navBar">
            <div>
              <form>
                <input type="text" placeholder="Add title" />
                <input type="text" placeholder="Add description" />
                <input type="text" placeholder="Add due date" />
                <button class="btn" id="navBtn" type="submit">
                  Add Todo
                </button>
              </form>
            </div>
            <li class="nav-item d-flex" id="li">
              <input type="text" placeholder="Filter.." />
            </li>
            <li>
              <button class="btn fa-sort-alpha-asc" id="navBtn">
                 By Title
              </button>
            </li>
            <li>
              <button class="btn fa-sort" id="navBtn">Sort By Date</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="row" id="todo">
        <div
          class="card"
          *ngFor="let todo of todos"
          [title]="todo.todoTitle"
          [style.width.rem]="cardHeightAndWidth"
          [style.height.rem]="cardHeightAndWidth"
          [style.margin.rem]="cardMargin"
        >
          <div class="card-body d-flex justify-content-center flex-column">
            <p class="card-date">Due: {{ todo.todoDueDate }}</p>
            <h5 class="card-title">{{ todo.todoTitle }}</h5>
            <p class="card-description">{{ todo.todoDescription }}</p>
            <button class="btn btn-danger" id="delete-btn">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
