<div
  class="card"
  *ngFor="let todo of todos"
  [title]="todo.todoTitle"
  [style.width.rem]="cardHeightAndWidth"
  [style.height.rem]="cardHeightAndWidth"
  [style.margin.rem]="cardMargin"
>
  <div class="card-body d-flex justify-content-center flex-column">
    <p class="card-date">Due: {{ todo.todoDueDate }}</p>
    <h5 class="card-title">{{ todo.todoTitle }}</h5>
    <p class="card-description">{{ todo.todoDescription }}</p>
    <button class="btn btn-danger" id="delete-btn">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </div>
</div>
